.navbar-buttons{
    float:right;
}

#navbar {
    margin-bottom: 50px;
}

.navbar-button{
    /* background-color: white;  */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
}

#Logo{
    width:50px;
}

.img-item{
    width:50rem;
}

body {
    text-align: center;
}

.cell {
    height: 30px;
    width: 30px;
    border: 1.5px solid grey;
    border-style: inset;
}

.black-cell {
    background-color: black;
}

.white-cell {
    background-color: white;
}

#ChessTable{
    display: flex;
    justify-content: center;
}